.ButtonFieldWrapper {
    display: flex;
    margin-top: 19px;

    &_center {
        justify-content: center;
    }

    &_right {
        justify-content: flex-end;
    }

    :global .Button__button {
        width: 45%;
        height: 67px;
        line-height: 26px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        font-size: 19px;

        @media (min-width: 1024px) {
            font-size: 26px;
        }
    }
}
