.InputFieldWrapper {
    /*display: inherit;*/

    :global .Input__wrapper:after {
        background: none;
    }

    :global .Input__layout_background {
        background-color: transparent;
        border-radius: 0;
        border-width: 0 0 2px 0;
        border-color: #D8D8D8;

        &.Input__layout_border_error {
            border-color: #dd5656;
        }

        /*&.Input__layout_background_focused,*/
        /*&:hover {*/
            /*border-color: #4c4c4c !important;*/
        /*}*/
    }



    :global .Input__value {
        padding-right: 0;
        padding-left: 0;
        line-height: 26px;
        font-size: 19px;

        @media (min-width: 1024px) {
            font-size: 26px;
        }
    }

    :global .Input__label {
        left: 0;
        font-size: 26px;

        &_focused, &_changed {
            top: 20px;
        }
    }
}

