.root {
    width: 100%;
}

.message {
    position: absolute;
    top: calc(50% - 26px);
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

